<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
    ********************************
    * CrashHangAnalysis options *
    ********************************
    -->
    <!--Show WCF ServiceHost Configuration Details (Sservice Behaviors and Bindinds)-->
    <add key="showWcfServiceDetails" value="true"/>
    
    <!-- These values limit the maximum number of results to the analysis report -->
    <add key="maxWcfRequests" value="100"/>
    <add key="maxWcfServiceConfigs" value="25"/>
    <add key="maxIISConnections" value="100"/>

    <!-- 
    ********************************
    * DotNetMemoryAnalysis options *
    ********************************
    -->

    <!-- GCRootTypesCount:  collect GC root chains for this number of 'top memory consuming types' -->
    <add key="GCRootTypesCount" value="10"/>

    <!-- GCRootTypesToIgnore:  do not report GC root chains for types in this semicolon-delimited list.  Use "*" to ignore all types except those in the GCRootTypesToAdd list -->
    <!--<add key="GCRootTypesToIgnore" value="System.String;System.Char[];System.Object[]"/>-->

    <!-- GCRootTypesToAdd:  report GC root chains for types in this semicolon-delimited list, even if they are not in the 'top memory consuming types' list  -->
    <add key="GCRootTypesToAdd" value="MyApp.LeakyType1;MyApp.LeakyType2"/>
    
    <!-- GCRootSampleCount:  maximum number of different gcroot chains to display for each type -->
    <add key="GCRootSampleCount" value="3"/>

    <!-- GCRootTimeout:  maximum number of seconds to spend scanning for GC root chains -->
    <add key="GCRootTimeout" value="60"/>
    
    <!-- DotNetMemoryDiffTypesCount:  show the difference in GC Heap values for this number of objects -->
    <add key="DotNetMemoryDiffTypesCount" value="100"/>

    <!-- PerfAnalysisSkipTopMostFrames:  In PerfAnalysis, skip the frames in this semicolon-delimited list when searching for the top-most user (non-Microsoft) frame. 
         Asterisk * wildcards are supported at end of value-->
    <!--<add key="PerfAnalysisSkipTopMostFrames" value="MyModule!GetDataSet(String);MyModule!DataAccess.HelperClass.*;ThirdPartyModule!*"/>-->
    
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
